.grid {
    margin: 30px 20px 0;
    outline: 3px solid  #48c9b0;
  }
   .info{
     background-color: #48c9b0;
    margin: 50px 5px 50px 20px;
    color: black;
   }
   #infoNodes{
     display: flex;
     flex-direction: row;
   }
  .myButton{
    border-color: #48c9b0;
    transition-duration: 0.8s;
  border-radius: 5px;
      color: #111;
      width: 100px;
      height: 40px;
      font-size: 20px;
      background-color: #48c9b0;
      margin: 5px 5px 5px 5px;
  }
  .myButton:hover{
    color: #fff;
}
 #header {
    background-color: #34495e;
    padding: 5px 10px 10px 10px;
    text-align: center;
  }
  
#header h2{
    color: #48c9b0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
  }
 #header p {
    padding: 8px 10px 5px 10px;
  }

  #heading{
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
  }
  #title{
    animation-name: heading;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  }
  .dropdown{
    color: #111;
    cursor: pointer;
    border-color: #48c9b0;
    transition-duration: 0.8s;
  border-radius: 5px;
      height: 40px;
     margin-right: 10px;
     background-color: #48c9b0;
     font-size: 20px;
  }

  @keyframes heading {
    0% {
      transform: scale(0.3);
      font-size: 5px;
    }
  
    50% {
      font-size: 10px;
    }
  
    75% {
      transform: scale(1.2);
      font-size: 20px;
    }
  
    100% {
      transform: scale(1);
      color: #48c9b0;
    }
  }
  
  